body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
}

* {
    /* outline: 1px solid red; */
}

a {
    text-decoration: none;
}

header {
    background-color: #525050;
    position: fixed;
    z-index: 1;
    width: 100%;
    min-width: 1200px;
    text-align: center;
    padding: 23.5px 0;
}

/* .container {
    width: 980px;
    margin: 0 auto;
} */

header h1 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3em;
}

h1 a {
    color: #cfcece;
    letter-spacing: 0.3rem;
    font-weight: bold;
    transition: 0.5s;
}

h1 a:hover {
    color: #2d2e2f;
    transition: 0.5s;
}

nav,
nav li {
    display: inline-block;
    font-size: 0;
}

nav {
    margin: 0 80px;
    vertical-align: middle;
}

.nav__home {
    color: #f5f5f5;
}

nav li + li {
    margin-left: 63px;
}

nav a {
    color: #cecece;
    font-size: 1rem;
}

nav a:hover {
    color: #6ca2af;
    transition: 0.5s;
}

.bag {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}

.bag img {
    width: 100%;
}

main {
    padding-top: 100px;
    padding-bottom: 120px;
}

.cover {
    background: url(../img/cover.jpg) center center;
    background-size: cover;
    height: 650px;
    position: relative;
}

.cover section {
    width: 580px;
    height: 180px;
    position: absolute;
    left: 0;
    right: 0;
    top: 43%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.408);
    text-align: center;
}

.cover h2 {
    color: #2c2d2e;
    font-size: 3.25em;
    margin: 0.325em 0;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    letter-spacing: 0.13em;
}

.cover button {
    width: 195px;
    height: 45px;
    border: none;
    color: #f6f6f7;
    font-size: 1.3em;
    background-color: #2d2e2f;
    cursor: pointer;
    transition: 0.5s;
}

.cover button:hover {
    transform: translateY(-5px);
    transition: 0.5s;
}
.banner p {
    margin: 0;
    padding: 20px;
    font-size: 1.5em;
    background-color: #e4e4e4;
    color: #696969;
    text-align: center;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.2em;
}

.year-round {
    margin: 110px 0;
}
.year-round h3 {
    margin: 0;
    text-align: center;
    font-family: "DM Serif Display", serif;
    letter-spacing: 0.4em;
    font-size: 3.5rem;
}

section hr {
    margin: 2rem auto;
    width: 3rem;
}

.year-round p {
    margin: 0;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.3em;
    color: #1d1d1e;
}

.goods {
    text-align: center;
    font-size: 0;
}

.goods a {
    display: inline-block;
    margin: 0 10px;
    width: 320px;
    height: 450px;
}

.goods img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.goods img:hover {
    opacity: 0.8;
    transition: 0.5s;
}

footer {
    background-color: #525050;
    color: #fdfdfd;
}

footer section {
    box-sizing: border-box;
    padding: 70px 0;
    text-align: center;
}

footer section div {
    display: inline-block;
    font-size: 0;
    margin: 0 70px;
}

footer section p {
    margin-bottom: 6.5px;
}

footer p {
    margin: 0;
}

.icon {
    vertical-align: top;
    font-size: 0;
    text-align-last: justify;
}

.icon a {
    display: inline-block;
}

.icon p {
    font-size: 0.78rem;
    letter-spacing: 0.13rem;
}

.icon i {
    color: #fdfdfd;
    font-size: 1.3rem;
}

.icon i:hover {
    color: #6ca2af;
}

.email {
    width: 320px;
    text-align: initial;
    vertical-align: top;
    font-size: 0.78rem;
    letter-spacing: 0.13rem;
}

.email input {
    width: 100%;
    line-height: 2;
    border: solid #fdfdfd 1px;
    background-color: transparent;
    color: #fdfdfd;
    font-size: 0.78rem;
    margin: 6.5px 0;
    box-sizing: border-box;
}

input::placeholder {
    color: #fdfdfd;
}

input:focus-visible {
    outline: 2px solid #6ca2af;
}

.email button {
    display: block;
    margin-left: auto;
    width: 100px;
    height: 26px;
    font-size: 0.85rem;
    cursor: pointer;
    letter-spacing: 1px;
}

.contact {
    text-align-last: center;
    font-size: 0.78rem;
    letter-spacing: 0.13em;
}

.contact a {
    color: #fdfdfd;
    display: inline-block;
}

.contact a:hover {
    color: #6ca2af;
}

/* .contact a:visited {
    color: #fdfdfd;
} */

.phone {
    font-family: "Raleway", sans-serif;
}

.copyright {
    text-align: center;
    padding-bottom: 65px;
}

.copyright a {
    color: #fdfdfd;
}

.copyright a:hover {
    color: #6ca2af;
}
